<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= @tittle %></title>
  </head>
  <body>
    <h1> Welcome to the Mexican food website</h1>
  </body>
</html>
